/*
Skin Name: Ultra Trainers
Version: 1.0
Demo URI: https://themify.me/demo/themes/ultra-trainers/
Required Plugins: builder-contact
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800,800i&display=swap');

/************************************************************************************
GENERAL
*************************************************************************************/
body {
	color: #808080;
}
.post-title a:hover,
.post-nav .arrow,
a {
	color: #cc4415;
}

/* Remove 1px gap in footer bg */
.screen-reader-text {
	height: 0;
}

/* FORM
================================================ */
textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=number], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week] {
	border-radius: 0;
	width: 100%;
	max-width:none;
	text-transform: none;
	padding: .8em 1em;
	transition: .5s;
}
#commentform label {
	display: inline-block;
}

/* HEADINGS
================================================ */
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 800;
}

/* FANCY HEADING */
.module-fancy-heading .main-head {
	letter-spacing: 0;
	line-height: 1.2em;
}
.module-fancy-heading .sub-head {
	color: #808080;
	font-style: italic;
	font-size: 100%;
	font-weight: 600;
	letter-spacing: -.01em;
	padding: 0;
}
.module-fancy-heading .sub-head:before {
	border-width: 0;
	padding: 0;
}
h3.fancy-heading {
	font-size: 2.3em;
}

/************************************************************************************
HEADER
*************************************************************************************/
/* SITE LOGO
================================================ */
#site-logo {
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .04em;
}

/* MAIN NAVIGATION
================================================ */
#main-nav a {
	font-weight: 600;
	padding: .75em 1.45em;
}
#main-nav .mega-menu-posts .post-title,
#main-nav .mega-menu-posts .post {
	text-align: left;
}
#main-nav .has-mega-column>.sub-menu,
#main-nav .has-mega-sub-menu .mega-sub-menu {
	top: auto;
}

/* current link and menu link :hover */
.header-horizontal #main-nav > li > a:hover,
#main-nav > .current_page_item > a,
#main-nav > .current-menu-item > a {
	background-color: #cc4415;
	color: #fff;
}
#main-nav a:hover,
#main-nav ul a:hover,
#main-nav .mega-menu-posts a:hover,
#main-nav li .current_page_item a,
#main-nav li .current-menu-item a {
	color: #cc4415;
}

/* mobile menu hover */
.mobile_menu_active #headerwrap #main-nav a:hover,
.mobile_menu_active #headerwrap #main-nav ul a:hover {
	color: #cc4415;
}
.mobile_menu_active #headerwrap #main-nav .current_page_item > a,
.mobile_menu_active #headerwrap #main-nav .current-menu-item > a {
	color: #cc4415;
}

/* Re-set dropdown rounded corners */
#main-nav li:not(.themify-widget-menu) > ul,
#main-nav .has-mega-sub-menu .mega-sub-menu,
#main-nav .has-mega-column > .sub-menu,
#main-nav li.menu-item-object-tbuilder_layout_part > .sub-menu {
	border-radius: 0;
}

/* CART ICON
================================================ */
.cart-wrap a span {
	background-color: #cc4415;
	position: static;
	margin: 0 0 -3px -12px;
}

/* SEARCH LIGHTBOX
================================================ */
.search-option-tab li:hover a,
.search-option-tab li.active a {
	box-shadow: inset 0 -3px 0 0 #cc4415;
}
.search-results-wrap .view-all-button {
	color: #cc4415;
}
.view-all-button:after {
	border-color: #cc4415;
}

/* FIXED HEADER
================================================ */
.transparent-header #headerwrap.fixed-header {
	background-color: rgba(255,255,255,.9);
	color: #000;
}

/* HEADER HORIZONTAL
================================================ */
.header-horizontal #site-logo {
	margin-top: 12px;
}

/* HEADER TOP BAR
================================================ */
.header-top-bar #site-logo {
	margin-top: 12px;
}
.header-top-bar #site-description {
	margin-top: 17px;
}

/* HEADER OVERLAY
================================================ */
.header-overlay.transparent-header #headerwrap.fixed-header,
.header-overlay.mobile-menu-visible #headerwrap {
	background-color: rgba(26, 42, 65, .9);
}
.header-overlay .cart-wrap a span {
	min-width: 13px;
	min-height: 13px;
	padding: 3px;
}

/* HEADER BOTTOM
================================================ */
body:not(.fixed-header-on).header-bottom #pagewrap .back-top {
	transform: scale(0);
	transition: .3s;
}
.header-bottom #site-logo {
	margin-top: 13px;
}
.header-bottom #site-description {
	vertical-align: sub;
}
.header-bottom #header .search-button {
	margin-top: 8px;
}
.header-bottom #header .cart-icon,
.header-bottom #header .social-widget {
	margin-top: 10px;
}

/* HEADER BLOCK
================================================ */
.header-block #headerwrap.fixed-header .header-bar #site-logo {
	margin-top: 12px;
}

/* HEADER LEFTPANE/RIGHTPANE/MINBAR
================================================ */
.header-minbar #main-nav a,
.header-rightpane #main-nav a,
.header-leftpane #main-nav a {
	padding: .6em 0;
}

/************************************************************************************
POST
*************************************************************************************/
.loops-wrapper.list-post .post-date,
.single .post-content .post-date {
    background: rgba(204, 68, 21, .8);
}
.post-nav a:hover span,
.post-nav a:hover {
	color: #cc4415;
}

/************************************************************************************
WIDGETS
*************************************************************************************/
.widgettitle {
	text-transform: none;
	font-weight: normal;
	font-size: 1.65em;
	letter-spacing: -.02em;
}
.widget li {
	padding: .35em 0;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #1a2a41;
	border: none;
	color: #fff;
	padding: 72px 0 2em;
}
#footerwrap a {
	color: #fff;
}
#footerwrap a:hover {
	color: #cc4415;
}
#footer {
	font-size: .95em;
}

/* FOOTER BACK TO TOP
================================================ */
#footerwrap .footer-tab,
#pagewrap .back-top.back-top-float,
#pagewrap #footerwrap .back-top.back-top-float .arrow-up a,
.footer-horizontal-left .back-top .arrow-up a,
.footer-horizontal-right .back-top .arrow-up a,
.footer-left-col .back-top .arrow-up a,
.footer-right-col .back-top .arrow-up a {
	background-color: rgba(204, 68, 21, .8);
}

/* 
FOOTER WIDGETS
================================================ */
.footer-widgets {
    margin-bottom: 4em;
}

/* BOTTOM COPYRIGHT
================================================ */
.section-col + .footer-text {
	padding: 0;
	padding-top: 1.55em;
	border-top: 1px solid #344968;
	font-size: 1em;
	line-height: 2.1em;
}

/* 
FOOTER LAYOUTS
================================================ */
.footer-left-col .main-col,
.footer-right-col .main-col {
	width: 35%;
}
.footer-left-col .section-col,
.footer-right-col .section-col {
	width: 61.8%;
}
.footer-horizontal-left .back-top, .footer-horizontal-right .back-top,
.footer-left-col .back-top, .footer-right-col .back-top {
	top: -107px;
}

/************************************************************************************
WOOCOMMERCE
*************************************************************************************/
/* BUTTON
================================================ */
#slide-cart .button,
.woocommerce ul.products li.product .add_to_cart_button, .woocommerce ul.products li.product .button[data-product_id], .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce button.button.alt.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], input[type=reset], input[type=submit], button[type=submit], .builder_button {
	border-radius: 0;
	background-color: #cc4415;
	color: #fff;
	font-weight: bold;
	padding: .95em 1.9em;
	letter-spacing: .06em;
	text-transform: uppercase;
	transition: all .3s;
}
#slide-cart .button:hover,
.woocommerce ul.products li.product .add_to_cart_button:hover, .woocommerce ul.products li.product .button[data-product_id]:hover, .woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #content input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, input[type=reset]:hover, input[type=submit]:hover, button[type=submit]:hover, .ui.builder_button:hover {
	background-color: #1a2a41;
	color: #fff;
	transform: translateY(-3px);
}

/* ARCHIVE PRODUCTS
================================================ */
/* Sale */
.woocommerce span.onsale,
.woocommerce ul.products li.product .onsale {
    background-color: #1a2a41;
}

/* SINGLE PRODUCTS
================================================ */
/* quantity */
.woocommerce .quantity .qty {
	margin: 0;
    padding: .75em;
    width: 4em;
}

/* tabs */
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active {
	border-color: #cc4415;
	color: #1a2a41;
}

/* related products */
.woocommerce .related h2, .woocommerce-page .related h2,
.woocommerce .upsells h2, .woocommerce-page .upsells h2 {
	font-weight: 900;
}

/* CART
================================================ */
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text {
	padding: .55em;
    width: 7.5em;
}

/* CHECKOUT
================================================ */
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 43px;
	border-radius: 0;
	border-color: #ccc;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 43px;
}
.select2-results__option {
	margin: 0;
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true] {
	background-color: #cc4415;
	color: #fff;
}
.select2-dropdown {
	border-radius: 0;
}
.woocommerce form .form-row .input-text,
.woocommerce form .form-row select {
	border-color: #ccc;
}

/************************************************************************************
BUILDER STYLING
*************************************************************************************/
/* BUTTON MODULE
================================================ */
.module .ui.builder_button {
	display: flex;
	padding: 0;
}
.ui.builder_button {
	border: none;
	font-size: 1.1em;
	position: relative;
}
.ui.builder_button i {
	background-color: rgba(0,0,0,.5);
	font-size: 120%;
	display: flex;
	align-items: center;
	padding: 0 .5em;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 0%, 70% 100%, 0 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0, 100% 0%, 70% 100%, 0 100%, 0% 100%);
}
.module-buttons span {
	padding: .9em 1.45em;
	margin: 0;
}
.ui.builder_button span + i {
	padding: 0 .5em 0 .8em;
	-webkit-clip-path: polygon(70% 0%, 100% 0, 100% 0%, 100% 100%, 0 100%, 0% 100%);
	clip-path: polygon(70% 0%, 100% 0, 100% 0%, 100% 100%, 0 100%, 0% 100%);
}
.iphone .ui.builder_button span + i {
	margin-right: -1px;
}
.circle .ui.builder_button {
	overflow: hidden;
}

/* IMAGE MODULE
================================================ */
.image-wrap .zoom {
	box-sizing: border-box;
	border-radius: 0;
	background-color: transparent;
	color: #cc4415;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
	transform: scale(0);
	transition: background-color .7s, transform .3s;
}
.image-wrap .zoom:before {
	content: "\e659";
	font-family: 'themify';
	font-weight: normal;
	font-size: 3.6em;
}
.image-wrap:hover .zoom {
	opacity: 1;
}
.module-image.image-full-overlay:hover .image-content:before,
.image-wrap .zoom:hover,
.image-wrap:hover .zoom {
	transform: scale(1);
	background-color: rgba(26, 42, 65, .9);
	color: #cc4415;
}

/* SLIDER MODULE
================================================ */
.module.module-slider.slider-agency .slide-inner-wrap {
	background-color: #fbfbfb;
	position: relative;
	z-index: 0;
}
.module.module-slider.slider-agency .slide-inner-wrap:before {
	content: "";
	background-color: #cc4415;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 20px 0 0 20px;
	z-index: -1;
}
.module.module-slider.slider-agency .slide-image {
	width: auto;
}
.module.module-slider.slider-agency .slide-content {
	flex: 1;
	background-color: #fbfbfb;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 0 1em;
}
.themify_builder_slider .slide-title {
	font-size: 1.6em;
	margin: 0 0 .7em;
}
.themify_builder_slider_wrap.themify_builder_slider_vertical .carousel-prev,
.themify_builder_slider_wrap.themify_builder_slider_vertical .carousel-next {
	background: none;
	color: #cc4415;
}
.themify_builder_slider_wrap .carousel-prev span,
.themify_builder_slider_wrap .carousel-next span {
	display: inline-block;
}
.themify_builder_slider_wrap .carousel-prev:before,
.themify_builder_slider_wrap .carousel-next:before {
	transform: none;
	border: none;
	margin: auto;
}
.themify_builder_slider_wrap .carousel-prev:after,
.themify_builder_slider_wrap .carousel-next:before {
	content: "";
	display: inline-block;
	transform: none;
	border: none;
	margin: auto;
	border-top: 3px solid #cc4415;
	width: 100px;
	height: auto;
	vertical-align: middle;
}

/* CONTACT MODULE
================================================ */
.module-contact .control-label {
	font-style: italic;
}
.module-contact button[type="submit"] {
	position: relative;
	padding-right: 3em;
}
.module-contact button[type="submit"]:after {
	content: "\e628";
	font-family: themify;
	position: absolute;
	top: -1px;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0,0,0,.5);
	padding: 0 .5em 0 .8em;
	-webkit-clip-path: polygon(70% 0%, 100% 0, 100% 0%, 100% 100%, 0 100%, 0% 100%);
	clip-path: polygon(70% 0%, 100% 0, 100% 0%, 100% 100%, 0 100%, 0% 100%);
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media screen and (min-width: 680px) {
	.module.module-slider.slider-agency .slide-inner-wrap {
		max-width: 67%;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (max-width:760px) {
	.module.module-slider.slider-agency .slide-inner-wrap {
		flex-wrap: wrap;
	}
	.module.module-slider.slider-agency .slide-image,
	.module.module-slider.slider-agency .slide-content {
		width: 100%;
	}
	.themify_builder_slider_wrap.themify_builder_slider_vertical .carousel-prev,
	.themify_builder_slider_wrap.themify_builder_slider_vertical .carousel-next {
		position: static;
		display: inline-block !important;
		transform: none;
		padding: 10px;
	}
	.themify_builder_slider_wrap .carousel-prev:after,
	.themify_builder_slider_wrap .carousel-next:before {
		width: 50px;
	}
}
@media screen and (max-width:680px) {
	.footer-left-col .main-col,
	.footer-right-col .main-col,
	.footer-left-col .section-col,
	.footer-right-col .section-col {
		width: 100%;
	}
}